{%extends "base_dashboard.html.twig" %}

{%block title %}Dashboard {%endblock %}
{%block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                {{ render ( controller ("WebsiteBundle:Actuality:list", {}))}}

                 </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                {{ render ( controller ("WebsiteBundle:Actuality:list", {}))}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                {{ render ( controller ("WebsiteBundle:Actuality:list", {}))}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                {{ render ( controller ("WebsiteBundle:Actuality:list", {}))}}
            </div>
        </div>
    </div>
{%endblock%}
{%block javascripts %}
    <script>
        $(document).ready(function ()
        {
            var url = window.location;
            $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
            $('ul.nav a').filter(function()
            {
                return this.href == url;
            }).parent().addClass('active');
        });
    </script>
{%endblock%}

