
<div class="g-bg-position--center js__parallax-window" style="background: url({{asset('webFiles/page/'~page.getPageid()~"/"~page.banner)}}) 50% 0 no-repeat;">
    <div class="g-container--md g-text-center--xs g-padding-y-200--xs">
       {%if page.name != 'event'%} <h1 class="page-title">{{page.title|capitalize}}</h1> {%endif%}
    </div>
</div>
